name: CI (infra-cicd plumbing test)

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  ci:
    uses: benweston/infra-cicd/.github/workflows/ci-python.yml@v0.1.0
    with:
      python-version: "3.12"
